<footer class="site-footer">
  <div class="container">
    <p>© {{ 'now' | date: '%Y' }} Bryan Acuña Astúa · Costa Rica</p>
    <ul class="footer-links">
      <li>
        <a href="mailto:bryn.acuna7@gmail.com" aria-label="Email Bryan at bryn.acuna7 at gmail dot com">Email</a>
      </li>
      <li>
        <a href="https://github.com/bryanacuna7" rel="noopener" aria-label="Bryan Acuña on GitHub">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/bryan-acu%C3%B1a-as12b7/" rel="noopener" aria-label="Bryan Acuña on LinkedIn">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
